*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(214, 214, 214);
}
.container{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 320px;
    margin:0;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    position: relative;
    color: black;
}
.container h2{
    transition: 0.5s;
    background-color:orange;
}
h1{
    color: orange;
    padding: 10px 0px 0px 15px 0px;
    padding-top: 12px;
    height: 10vh;
    margin-left: 4%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    
}
h3{
    margin-left: 4%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    
}
section{
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: 80vh;
    gap: 0.10px;
    justify-content:left;
    margin-left: 2%;
}
.itens{
    /* border: 2px solid rgb(0, 0, 0); */
    width: 320px;
    /* height: 75vh; */
    background-color: white;
    margin:10;
    position: relative;
    padding: 20px;
    padding-bottom: 180px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}
.foto{
    display: flex;
    justify-content: center;
    transition: 0.5s;
    border-radius: 15%;;
    position: relative;

}
img{
    border-radius: 15%;
    width: 60%;
    height: 35vh;
    position: relative;
    top: 60%;
    padding: 2%;
    border:2px solid orange;
    transition: 0.5s;
}
.nome{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: orange;
    width: 70%;
}
.name{
    background-color: white;
}
p{
    padding-top: 5%;
    text-align: justify;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
   
} 
.color-div{
    max-height: 100px;
    position: relative;
    transition: 0.5s;
    margin: 0;
} 

.container .itens:hover{
    background-color: orange;
    color:  white;

}
div{
    gap:12
}



