.menu{
    margin: 0px;
    padding: 0px;
    display: block;
    font-size: 30px;
    background-color: brown;
    border: 1px solid black;
}

.texto{
    text-align: center;
    background: black;
    color: orange;
    margin-top: -40px;
}

.itens{
    position: relative;
    top: -38px;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-family: 'Roboto Condensed'; 
    font-weight: bold;
   
}

ul, li, a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    color: orange;

}   
h1{
    background: orange;
}
