header{
    background: black;
    height: 20vh;
    align-items: center;
}
.imag{
    width: 100px;
    height: 100px;
}
.logo{
    cursor: pointer;
    transition: 0.5s;
}
.logo:hover{
    transform: translateY(-10px);
    
}


.lista{
   
    list-style: none;
    display: flex;
   

    
}
    .lista a{
        
        text-decoration: none;
        color: orange;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        
        
    }
    .lista li{
 
        padding: 20px;
        transform: 0.5s;
        flex-direction: column;

    }

*{
    margin: 0;
    padding: 0;
}
#menu, #Menu{
    text-align: center;
    color: orange;
   
}
#menu{
    display: none;
}

input{
    width: 400px;
    border: none;
    border-radius: 15px;
    height: 7vh;
    border-color: none;
    font-size: 15px;
    text-align: center;
    background: white url;
}
#lupa{
    color: orange;
    margin-left: 17px;
    position: absolute;
    opacity: 60%;
    top: 8%;

}
.barra{
    text-align: center;
}


header{
    display: flex;
    justify-content: space-between;
}
main{
    
   display: flex;
    justify-content: center;
}

/*cards*/
.container{
    
    max-height: 1580px;
    width: 80%;
    display: flex;
    margin: 20px;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
    overflow: hidden; 
    justify-content: center;
}


.card{
    background: white;
    width: 210px;
    height: 495px;
    margin: 10px;  
    list-style: none; 
}
.card:hover{
        transform: translateY(-10px);
        background: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.retrato{
    width: 150px;
    height: 250px;
}
.card-imagem{
    height: 260px;
    width: 100%;
    margin-top: 20px;
}
.card-itens{
    color: black;
    height: 380px;
    text-align: center;
    width: 100%;
}
.card-titulo{
    margin-top: 10px;
    padding: 7px;
    max-width: 100%;
    height: 120px;
    overflow: hidden;
    
 
}
h4{
    margin-top: 10px;
}
h3{
    margin: 2px;
    font-size: 15px;
    color: orangered;
}
h2{
    display: block;
    font-size: 20px;
}
p{
    padding: 10px;
}

.botao{
    background: orange;
    width: 180px;
    border-radius: 10px;
    border: none;
    padding: 7px;
    cursor: pointer;
    color: white;
}
.botao:hover{
    background-color: orangered;
}



@media screen and (max-width: 600px){
    #menu{
        display: block;
        margin-right: 37px;
    }
    #Menu{
        border: 1px solid black;
        border-top: none;
        width: 100%;
        position: absolute;
        top: 138px;
        right: 0;
        height: 100%;
        background-color: white;
    }
    #Menu{
        display: none;
    }
    .lista{
        flex-direction: column;   
    }
    
    .lista li{
        border: 1px solid black;
        border-top: none;
        transform: 0.5s;
    }
    .lista > li:hover{
        background: black;
    }
    header{
        width: 100%;
    }
    input{
        width: 30vh;
        margin-right: 60px;
    }
    .barra{
        width: 30vh;
        margin-right: 30px;
    }
    .imag{
        width: 80px;
        height: 80px;
    }
    
    /* card */
   .card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

   }
   .card:hover{
    transform: none;
   }


   

}

