header{
    background: black;
    height: 20vh;
    align-items: center;
    width: 100%;
}
.imag{
    width: 100px;
    height: 100px;
}
.logo{
    cursor: pointer;
    transition: 0.5s;
}
.logo:hover{
    transform: translateY(-10px);
    
}
#Menu{
    width: 700px;
}
.item{
    list-style-type: none;
}
element.style {
    background: black;
    color: orange;
}

#um,
#dois,
#tres {
    cursor: pointer;
    width: 170px;
    height: 121px;
    text-decoration: none;
    color: orange;
}

.lista,
#um,
#dois,
#tres {
    font-family: 'Roboto Condensed';
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    margin: auto;
 text-align: center;
    width: 140px;
}

    

*{
    margin: 0;
    padding: 0;
}
#menu, #Menu{
    text-align: center;
    color: orange;
   
}
#menu{
    display: none;
}

input{
    width: 400px;
    border: none;
    border-radius: 15px;
    height: 7vh;
    border-color: none;
    font-size: 15px;
    text-align: center;
    background: white url;
}
#lupa{
    color: orange;
    margin-left: 17px;
    position: absolute;
    opacity: 60%;
    top: 8%;

}
.barra{
    text-align: center;
}


header{
    display: flex;
    justify-content: space-between;
}
main{
    
   display: flex;
    justify-content: center;
}

/*cards*/
.container{
    
    max-height: 1580px;
    width: 80%;
    display: flex;
    margin: 20px;
    padding: 10px;
    gap: 15px;
    flex-wrap: wrap;
    overflow: hidden; 
    justify-content: center;
}


.card{
    background: white;
    width: 210px;
    height: 495px;
    margin: 10px;  
    list-style: none; 
}
.card:hover{
        transform: translateY(-10px);
        background: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.retrato{
    width: 150px;
    height: 250px;
}
.card-imagem{
    height: 260px;
    width: 100%;
    margin-top: 20px;
}
.card-itens{
    color: black;
    height: 380px;
    text-align: center;
    width: 100%;
}
.card-titulo{
    margin-top: 10px;
    padding: 7px;
    max-width: 100%;
    height: 120px;
    overflow: hidden;
    
 
}
h4{
    margin-top: 10px;
}
h3{
    margin: 2px;
    font-size: 15px;
    color: orangered;
}
h2{
    display: block;
    font-size: 20px;
}
p{
    padding: 5px;
}

.botao{
    background: orange;
    width: 180px;
    border-radius: 10px;
    border: none;
    padding: 7px;
    cursor: pointer;
    color: white;
}
.botao:hover{
    background-color: orangered;
}



@media screen and (max-width: 600px){
   
    #menu{
        display: block;
        margin-right: 37px;
    }
    #Menu{
        border: 1px solid black;
        border-top: none;
        width: 100%;
        position: absolute;
        top: 120px;
        z-index: 2;
        right: 0;
        height: 100%;
        background-color: rgb(22, 22, 22);
    }
    #Menu{
        display: none;
    }
         .lista {
             flex-direction: column;
             border-top: none;
    
         }
    
         .lista .item {
             border: 1px solid black;
             border-top: none;
    
             width: 100%;
    
         }
    
         .lista>.item:hover {
             background: rgb(255, 255, 255);
    
         }
    
         .lista {
             width: 100%;
             position: absolute;
             gap: 0px;
         }
    
         #um,
         #dois,
         #tres {
             width: 100%;
             margin: auto;
             display: inline-block;
             text-align: center;
             margin-top: 30px;
             height: 50px;
    
         }
    header{
        width: 100%;
    }
    input{
        width: 30vh;
        margin-right: 60px;
    }
    .barra{
        width: 30vh;
        margin-right: 30px;
    }
    .imag{
        width: 80px;
        height: 80px;
    }
    
    /* card */
   .card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

   }
   .card:hover{
    transform: none;
   }


   

}
@media (min-width: 601px) and (max-width: 768px){
    header{
        width: 100%;
    }
                  #menu {
                      display: block;
                      margin-right: 40px;
                  }
        
                  #Menu {
                      border: 1px solid black;
                      border-top: none;
                      width: 100%;
                      position: absolute;
                      top: 95px;
                      right: 0;
                      height: 100%;
                      background-color: rgb(22, 22, 22);
                      
                  }
        
                  #Menu {
                      display: none;
                  }
                                .lista {
                                    flex-direction: column;
                                    border-top: none;
                
                                }
                
                                .lista .item {
                                    border: 1px solid black;
                                    border-top: none;
                
                                    width: 100%;
                
                                }
                
                                .lista>.item:hover {
                                    background: rgb(255, 255, 255);
                
                                }
                
                                 .lista {
                                    width: 100%;
                                    position: absolute;
                                    gap: 0px;
                                }
                
                                #um,
                                #dois,
                                #tres {
                                    width: 100%;
                                    margin: auto;
                                    display: inline-block;
                                    text-align: center;
                                    margin-top: 30px;
                                    height: 50px;
                
                                }
                                .card {
                                     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                                
                                    }
            
                                                                         .card:hover {
                                                                             transform: none;
                                                                         }
}
@media (min-width: 769px) and (max-width: 1024px){
    header{
        padding: 30px;
    }
    .card {
            width: 210px;
            height: 495px;
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    
        .card:hover {
            transform: none;
        }
    
        .botao {
            width: 150px;
        }
                 #menu {
                     display: block;
                     margin-right: 40px;
                 }
        
                 #Menu {
                     border: 1px solid black;
                     border-top: none;
                     width: 100%;
                     position: absolute;
                    
                     right: 0;
                     height: 100%;
                background-color: rgb(22, 22, 22);
        
                 }
        
                 #Menu {
                     display: none;
                 }
                                 .lista {
                                     flex-direction: column;
                                     border-top: none;
                
                                 }
                
                                 .lista .item {
                                     border: 1px solid black;
                                     border-top: none;
                
                                     width: 100%;
                
                                 }
                
                                 .lista>.item:hover {
                                     background: rgb(255, 255, 255);
                
                                 }
                
                                 .lista {
                                     width: 100%;
                                     position: absolute;
                                     gap: 0px;
                                 }
                
                                 #um,
                                 #dois,
                                 #tres {
                                     width: 100%;
                                     margin: auto;
                                     display: inline-block;
                                     text-align: center;
                                     margin-top: 30px;
                                     height: 50px;
                
                                 }
}

