
*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: black;
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;     
}
.list-sobre, #um,#dois,#tres{
  
    font-family: 'Roboto Condensed';
    display: flex;
    justify-content:space-between ;
    font-size: 25px;
    width: 60%; 
    align-items: center;
    margin: auto;
    gap: 5px;
}
li{
    list-style-type: none;
   
}

#um, #dois, #tres{
    cursor: pointer;
    width: 150px;
    height: 100px;
    text-decoration: none;
    color: orange;
}



.text0{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  
}


#icon_menu{
    display: none;
}
.primiro{
    position: relative;
}


/*  */
/* .hp{
    text-align: center;
    box-sizing: border-box;
    margin: 20px;
    padding-bottom: 15px;
    
}
.hs{
    text-align: center;
    box-sizing: border-box;
    margin: 20px;
    padding-bottom: 15px;
}
.ht{
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 15px;
}
.hq{
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 15px;
} */
.h{
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    color: orange;
    
}



article{
    margin: auto;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}
.lobo-marca{
    width: 100px;
    height: 100px;
}
footer{
    background-color: black;
    color: orange;
    display: flex;
    padding: 30px;
}
.list-footer > hr{
    width: 300px;
    border-color: orangered;
    border: 3px solid;
}
.list-footer a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.list-footer a:hover{
    color: orange;
}
.list-footer li{
    padding: 10px;
}

.log{
   width: 50%;
}

@media screen and (max-width: 600px){
    header{
        width: 100%;
    }
    #icon_menu{
        display: block;
        
    }
    *{
        margin: 0;
        padding: 0;
    }

        #Menu {
            border: 1px solid black;
            border-top: none;
            position: absolute;
            top: 100px;
            right: 0;
            height: 100%;
            background-color: rgb(255, 255, 255);
            z-index: 2;
            text-align: center;
        }
        
                 #Menu {
                     display: none;
                 }

    .list-sobre{
        flex-direction: column;
        border-top: none;
        
    }
        .list-sobre .item {
            border: 1px solid black;
            border-top: none;
            
            width: 100%;
           
        }
    
        .list-sobre > .item:hover {
            background: black;

        }
        .list .list-sobre{
            width: 100%;
            position: absolute;
            gap: 0px;
        }
      
       #um, #dois, #tres{
        width: 100%;
        margin: auto;
        display: inline-block;
        text-align: center;
        margin-top: 30px;
        height: 50px;
    
       }
       .segunda{
        display: none;
       }

           .list-footer{
            width: 50%;
            margin-top: 20px;
           
           }
           
           footer{
            flex-direction: column;
            width: 100%;
           }
       .log{
        width: 100%;
       }
                
}



