
*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: black;
    color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;     
}
.list-sobre, #um,#dois,#tres{
  
    font-family: 'Roboto Condensed';
    display: flex;
    justify-content:space-between ;
    font-size: 25px;
    width: 60%; 
    align-items: center;
    margin: auto;
    gap: 5px;
}
li{
    list-style-type: none;
   
}

#um, #dois, #tres{
    cursor: pointer;
    width: 150px;
    height: 100px;
    text-decoration: none;
    color: orange;
}



.text0{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  
}


/*  */
/* .hp{
    text-align: center;
    box-sizing: border-box;
    margin: 20px;
    padding-bottom: 15px;
    
}
.hs{
    text-align: center;
    box-sizing: border-box;
    margin: 20px;
    padding-bottom: 15px;
}
.ht{
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 15px;
}
.hq{
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 15px;
} */
.h{
    text-align: center;
    margin-top: 30px;
    padding: 30px;
    color: orange;
    
}


article{
    margin: auto;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}
.lobo-marca{
    width: 100px;
    height: 100px;
}
footer{
    background-color: black;
}



