@media screen and (max-width: 768px) {
    header {
            width: 100%;
        }
    
        #icon_menu {
            display: block;
    
        }
    
        * {
            margin: 0;
            padding: 0;
        }
    
        #Menu {
            border: 1px solid black;
            border-top: none;
            position: absolute;
            top: 100px;
            right: 0;
            height: 100%;
            background-color: rgb(255, 255, 255);
            z-index: 2;
            text-align: center;
        }
    
        #Menu {
            display: none;
        }
                  .list-sobre {
                      flex-direction: column;
                      border-top: none;
        
                  }
        
                  .list-sobre .item {
                      border: 1px solid black;
                      border-top: none;
        
                      width: 100%;
        
                  }
        
                  .list-sobre>.item:hover {
                      background: black;
        
                  }
        
                  .list .list-sobre {
                      width: 100%;
                      position: absolute;
                      gap: 0px;
                  }
        
                  #um,
                  #dois,
                  #tres {
                      width: 100%;
                      margin: auto;
                      display: inline-block;
                      text-align: center;
                      margin-top: 30px;
                      height: 50px;
        
                  }
        
                  .segunda {
                      display: none;
                  }
        
                  .list-footer {
                      width: 50%;
                      margin-top: 20px;
        
                  }
        
                  footer {
                      flex-direction: column;
                      width: 100%;
                  }
        
                  .log {
                      width: 100%;
                  }
                  .primeiro{
                    text-align: center;
                    margin: auto;
                    padding: 30px;
                  }
                .container{
                    flex-direction: column;
                    width: 560px;
                    
                }
                .color-div{
                    max-width: 100%;
                   text-align: center;
                }
                .info{
                    width: 80%;
                    margin: auto;
                }
                .itens{
                    width: 100%;
                    min-height: 530px;
                }
                .terceiro{
                    width: 100%;
                }
            
}
@media (min-width: 769px) and (max-width: 1024px){
    header{
        width: 100%;
    }
}
   


